body{
    background-color: rgb(84, 79, 79);
}
img{
    object-fit: contain;
    background-color: transparent;
    height: 90%;
    width: 90%;
    
    
}
.d-title{
    text-align: center;

}
.d-image{
    text-align: center;
}

.p-title{
    font-size: 36px;
    font-family: Arial;
    color: white;
    font-weight: bold;
}

.b-rock{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: solid;
    border-color: white;
    border-radius: 80px;
    cursor: pointer;
}

.b-paper{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: solid;
    border-color: white;
    border-radius: 80px;
    cursor: pointer;
}

.b-scissors{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: solid;
    border-color: white;
    border-radius: 80px;
    cursor: pointer;
}
