body{
    background-color: rgb(26, 26, 26);
}
img{
    object-fit: contain;
    background-color: transparent;
    height: 75%;
    width: 75%;
    
    
}
.d-title{
    text-align: center;

}
.d-image{
    text-align: center;
}

.p-title{
    font-size: 36px;
    font-family: Arial;
    color: white;
    font-weight: bold;
}
.p-stat{
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 24px;
}
.p-result{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: Arial;
    font-weight: 600;
}
.p-select{
    text-align: center;
    color: white;
    margin-left: 80px;
    font-size: 30px;
    font-family: Arial;
}
.img-select{
    object-fit: contain;
    background-color: transparent;
    height: 5%;
    width: 5%;
}
.b-rock{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: solid;
    border-color: white;
    border-radius: 80px;
    cursor: pointer;
}
.b-rock:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}

.b-paper{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: solid;
    border-color: white;
    border-radius: 80px;
    cursor: pointer;
}
.b-paper:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
.b-scissors{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: solid;
    border-color: white;
    border-radius: 80px;
    cursor: pointer;
}
.b-scissors:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
.b-reset{
    border: solid;
    border-color: transparent;
    background-color: white;
    border-radius: 20px;
    height: 60px;
    width: 150px;
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
}
.b-reset:hover{
    background-color: rgba(255,255,255,0.8)
}
